<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{title}}</h3>
        <small class="card-subtitle">Posted by {{user.username}} on {{formatDate created_at}}</small>
    </div>         
    <div class="card-body">  
        <p class="card-text">{{content}}</p>
    </div>   
   <div class="card-footer view-comment">
        <button id="{{id}}" class="btn btn-secondary" onClick="viewComment(this.id)">View Comments</button>
    </div>
</div>  